<center id="newModal" class="modal fade">
  <div class="modal-dialog modal-login">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">新規会員登録</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <div class="text-center social-btn pb-5">
          <a href="/signup" class="btn btn-success btn-lg btn-block py-1"><i class="fa fa-envelope"></i><b class="pl-2">メール</b>で登録する</a>
          <a href="#" class="btn btn-primary btn-lg btn-block py-1"><i class="fab fa-facebook-square 2x"></i><b class="pl-2">Facebook</b>で登録する</a>
          <a href="#" class="btn btn-info btn-lg btn-block py-1"><i class="fab fa-twitter-square 2x"></i><b class="pl-2">Twitter</b>で登録する</a>
          <a href="#" class="btn btn-danger btn-lg btn-block py-1"><%= image_tag '/google.svg.webp', class: "google-font" %><b class="pl-2">Google</b>で登録する</a>
        </div>
      </div>
    </div>
  </div>
</center>
